ul:is(#reviews) {
  list-style: "🎉";
  list-style: url("https://emojis.slackmojis.com/emojis/images/1643514476/4594/blob-wave.gif?1643514476");
  list-style: url("../images/tada.png");
}
ul:not(#reviews) {
  list-style: "✅";
}